/* .navbar {

} */

.navbar ul {
    list-style: none;
    margin-top: 20px;
}

.navbar ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #abb7c4;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 0 12px 22px;
    transition: all 100ms ease-in-out;
}

.navbar ul li a.active {
    color: #dcf836;
}

.navbar ul li a img {
    background: #fff;
    width: 24px;
    margin-right: 5px;
}

.navbar ul a:hover {
    color: #dcf836;
}