.app-wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: minmax(70px, auto) 1fr minmax(40px, auto);
    row-gap: 15px;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 15px;
    width: 1440px;
    margin: 0 auto;
}

.red {
    color: red;
}

.warn {
    color: rgb(255, 179, 0);
}