.newMessage {
    margin-top: 30px;
    border-top: 2px solid #12182926;
    padding-top: 15px;
    margin-bottom: 30px;
}

.newMessage textarea {
    width: 100%;
    background: transparent;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid rgb(18, 24, 41);
    margin: 10px 0px;
    height: 40px;
    color: #abb7c4;
}

.newMessage textarea:focus-visible {
    outline: 2px solid #4280bf;
}

.newMessage textarea::-webkit-input-placeholder {
    color: #abb7c4;
}